/* Media.css */
@import url(./Media.css);

/* html */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #34495E;
    overflow: hidden;
}

/* app */
#app {
    display: flex;
    width: 100%;
    height: 100%;  
}

/* a */
a {
    text-decoration: none;
    color: #34495E;
}

/* nav */
nav {
    min-width: 255px;
    height: 100%;
    max-height: calc(100% - 30px);
    background: #fafafa;
    border-right: 1px solid #eeeeee;
    box-sizing: border-box;
    position: fixed;
    z-index: 15;
    transform: translateX(0%);
    transition: transform 0.2s;
}

/* side */
.side {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: fixed;
    z-index: 10;
}

/* library */
.library {
    width: 100%;
    height: 100%;
}

/* books */
.books {
    display: flex;
    background: #eeeeee;
    position: relative;
    z-index: 15;
}

.books:hover {
    background: linear-gradient(to left, #eeeeee, rgba(0, 0, 0, 0.175));
    transition: 0.3s;
}

/* active */
.active {
    background: linear-gradient(to left, #eeeeee, rgba(0, 0, 0, 0.175));
}

.active::after {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: 900;
    color: #f57f17;
    position: absolute;
    right: 17px;
    top: 40%;
    pointer-events: none;
}

/* router-link */
.router-link {
    width: 100%;
    height: 100%;
    padding: 17px;
}

/* container */
.container {
    width: 100%;
    height: 100%;
    max-height: calc(100% - 30px);
    padding-left: 255px;
    transition: padding 0.2s;
}

/* header */
header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background: #41B883;
    position: sticky;
    z-index: 5;
}

/* menu */
.menu {
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 50%;
    cursor: pointer;
}

.menu:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

/* logo */
.logo {
    font-size: 18px;
    font-weight: bold;
    padding: 0px 15px;
}

/* main */
main {
    width: 100%;
    min-width: 350px;
    height: 100%;
    max-height: calc(100% - 50px);
    padding: 40px;
    background: #fafafa;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* footer */
footer {
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    background: #41B883;
    padding: 0px 25px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    z-index: 15;
}

/* copyright */
.copyright {
    font-weight: bold;
}

.copyright > a > i {
    font-size: 17px;
}

/* hide */
.hide {
    transform: translateX(-100%);
}

/* clone-hide */
.clone-hide {
    transform: translateX(0%);
}

/* expansion */
.expansion {
    padding-left: 0px;
}

/* clone-expansion */
.clone-expansion {
    padding-left: 255px;
}

/* show */
.show {
    display: block;
}

/* h1 */
h1 {
    font-size: 20px;
    font-weight: bold;
    border-left: 10px solid #f57f17;
    padding: 5px 15px;
}

/* itme-1 */
.item-1 {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    flex-wrap: wrap;
}

/* img */
.img > img {
    width: 300px;
    border-radius: 10px;
    margin: 0px 25px;
}

/* information */
.information {
    display: flex;
    width: 300px;
    height: 300px;
    justify-content: space-between;
    padding: 40px 0px;
    margin: 0px 25px;
}

/* box-1, box-2 */
.box-1,
.box-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;
}

.box-1 > p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* box-2 */
.box-2 > p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #616161;
}

/* item-2-wrap, item-3-wrap */
.item-2-wrap,
.item-3-wrap {
    margin-top: 100px;
}

/* item-2 */ 
.item-2 {
    display: flex;
    justify-content: center;
}

/* skills */
.skills {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0px;
}

/* font awesome */
.skills > 
.fas,
.fab {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    position: relative;
}

.skills > i > p {
    color: #34495E;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
}

.skills > i > p > span {
    position: absolute;
    top: -5px;
    left: 37.5%;
}

.fa-html5 {
    color: #e34c26;
}

.fa-css3-alt {
    color: #264de4;
}

.fa-js-square {
    color: #f0db4f;
}

.fa-vuejs {
    color: #41B883;
}

/* item-3 */
.item-3 {
    display: flex;
    justify-content: center;
}

/* card */
.card {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0px;
}

.card > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin: 10px;
    cursor: pointer;
}

/* top */
.top {
    display: flex;
    width: 100px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #333;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 5px 0px #9e9e9e;
    transform: translateY(45%);
}

/* bottom */
.bottom {
    display: flex;
    width: 120px;
    height: 75px;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 5px;
    background: #f0db4f;
    box-shadow: 4px 4px 5px 0px #bdbdbd;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    transform: translateY(-5%);
}

.card> a:hover .top {
    transition: transform 0.3s;
    transform: translateY(0%);
}

.card> a:hover .bottom {
    transition: transform 0.3s;
    transform: translateY(0%);
}
